{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Image | Security</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'main/img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'main/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->





    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            <h2 class="m-0 text-primary">Image | Security</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'index-page' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'admin-login' %}" class="nav-item nav-link">Admin</a>
                <a href="{% url 'user-register' %}" class="nav-item nav-link active">User</a>
                <a href="{% url 'dataowner-register' %}" class="nav-item nav-link">Data Owner</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    {% if messages %}              
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          <script>swal({
            title: "Good Job :)",
            text: "Registered Successfully!",
            icon: "success",
            button: "OK",
          });
        </script>
        
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <script>swal({
            title: "Error :(",
            text: "Email Already Exists",
            icon: "success",
            button: "OK",
          });
        </script>
      {% endif %}              
    {% endfor %} 
  {% endif %}


    <!-- Page Header Start -->
    <!-- <div class="container-fluid page-header py-5 mb-5" style="background-color: blue;"> -->
        <div class="container-fluid py-5" style="background-color: rgb(9, 100, 24);">
            <h1 class="display-3 text-white mb-3 animated slideInDown text-center">User Register</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">User</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Register</li>
                </ol>
            </nav>
        </div>
    <!-- </div> -->
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0; margin-top: 10px; margin-bottom: 20px;">
        <div class="container contact px-lg-0">
            <div class="row g-0 mx-lg-0  justify-content-center">
                <div class="col-lg-7 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 ps-lg-0">
                        <form method="post" name="myform" onsubmit="return dataowner_valid();">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" name="name">
                                        <label for="name">Full Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" name="email">
                                        <label for="">Email Address</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="tel" class="form-control" name="mobile" id="email">
                                        <label for="">Mobile No.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="location" id="email">
                                        <label for="">Location</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" name="pwd" id="email">
                                        <label for="">Password</label>
                                    </div>
                                </div><div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" name="cpwd" id="email">
                                        <label for="">Confirm Password</label>
                                    </div>
                                </div>
                                <div class="col-12" align="center">
                                    <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Register</button>
                                    <button class="btn btn-primary rounded-pill py-3 px-5"><a href="{% url 'user-login' %}" class="text-white">Login</a></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


   <!-- Footer Start -->
   <div class="container-fluid bg-dark text-body footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5 justify-content-evenly">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Address</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>LB Nagar, HYD, INDIA</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 8555 8879 86</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>projects@codebook.in</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link" href="{% url 'index-page' %}">Home</a>
                <a class="btn btn-link" href="{% url 'admin-login' %}">Admin</a>
                <a class="btn btn-link" href="{% url 'user-register' %}">User</a>
                <a class="btn btn-link" href="{% url 'dataowner-register' %}">Data Owner</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Newsletter</h5>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Image | Security</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    Designed By <a href="https://www.codebook.in">Codebook.in</a>
                    <!-- <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'main/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'main/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'main/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'main/lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'main/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'main/lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>